.video-to-spotify-btn {
	height: 24px !important;
	color: #fefefe;
	background-size: 15px;
	background-color: #1DB954;
	background-repeat: no-repeat;
    background-position: 8px 3px;
	padding-left: 30px !important;
}

.video-to-spotify-btn:hover {
	background-color: #1aa84c;
}